@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Source+Code+Pro&display=swap");

$beige: #c1b1ab;
$mint: #c5e3e2;

body {
  display: flexbox;
  flex-direction: column-reverse;
  background-color: $beige;
  font-family: "Lexend Deca", sans-serif;

  #msgBox {
    align-content: center;
    min-width: auto;
    max-width: 75%;
    overflow-wrap: break-word;

    #header {
      background-color: white;
    }

    #reqDiv {
      background-color: $mint;
      
      #child-cookies {
        font-size: 1em;
        font-family: "Source Code Pro", monospace;
      }
    }
  }
}
